* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
    ;
} */
a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: Shrikhand, sans-serif;
}

@keyframes grow {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* .btn{
    @include flex-center; 

    width: 50%;

    padding: 0.5em 1em;

    border-radius: 7em;

    box-shadow: 0px 0px 10px 10px rgba(0 0 0 / 30%);

    opacity: 1;

    cursor: pointer;

    background: linear-gradient($color-2 0%, $color-1 100%);
    color: white;

    position: relative;

    &::after{
        content: '';

        border-radius: 7em;

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background: radial-gradient(circle, lighten($color-1, 2) 0%, darken($color-2, 5) 100%);
        opacity: 0;

        transition: opacity $duration;

        z-index: -1;
    }
    p{
        color: white;
    }

    &:hover{
        opacity: 0.8;
        transform: opacity $duration;
        box-shadow: 0px 0px 10px 10px rgba(0 0 0 / 40%);

        &::after{
            opacity: 1;
        }
    }   
} */
.btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356dc;
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  color: white;
  padding: 0.8em 1em;
  border-radius: 7em;
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.15);
}
.btn-2:hover {
  transform: scale(1.1);
  opacity: 0.9;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
  /* transform: scale(1.1);
  opacity: 0.9;
  box-shadow: 0px 10px 10px 0px rgba(0 0 0 / 20%);

  transition: all $duration ease-out; */
}
.btn-2:active {
  transform: translate(0.2em, 0.2em);
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.15);
  transition: transform ease-out;
  /* transform: translate(0.2em, 0.2em);
  box-shadow: 0px 5px 2px 0px rgba(0 0 0 / 15%);
  transition: transform ease-out; */
}

/* loader barres */
.loader-bars:before,
.loader-bars:after,
.loader-bars span:before,
.loader-bars span:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 30px;
  background: linear-gradient(#9356DC 0%, #FF79DA 50%, #99E2D0 100%);
  animation: grow 1.2s linear infinite;
}

.loader-bars:after {
  left: 15px;
  animation-delay: -0.25s;
}

.loader-bars span:before {
  left: 30px;
  animation-delay: -0.5s;
}

.loader-bars span:after {
  left: 45px;
  animation-delay: -0.75s;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0 0.5em 0;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  background: #eaeaea;
  /* background: rgba(187,184,184,0.59);
  background: linear-gradient(180deg,rgba(187,184,184,0.59) 0%, transparent 100%); */
}

.hero {
  background: #f6f6f6;
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title, .hero__subtitle {
  text-align: center;
}
.hero__subtitle {
  font-weight: 200;
  margin: 1em 0 1em 0;
}
.hero__button {
  display: flex;
  justify-content: center;
  width: 80%;
}

.nav {
  padding: 2em 1em;
}
.nav__title {
  margin-bottom: 1em;
}
.nav li {
  position: relative;
  margin-bottom: 1em;
  padding: 1em 1em;
  border-radius: 1em 1em 1em 1em;
  /* box-shadow: 0px 2px 5px 0px rgba(0 0 0 / 15%); */
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.nav li:hover {
  background: #f9f9f9;
  /* box-shadow: 0px 2px 5px 0px rgba(0 0 0 / 40%); */
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}
.nav li:active {
  transform: translate(0.2em, 0.2em);
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.15);
  transition: transform ease-out;
}
.nav li:visited {
  background: #f5edff;
}
.nav__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
  top: 11px;
  background: #9356DC;
  border-radius: 50%;
  color: white;
  width: 1.5em;
  height: 1.5em;
}
.nav__icon {
  color: grey;
  margin-left: 0.7em;
}
.nav__txt {
  margin-left: 0.7em;
  font-weight: bold;
}

.restaurants {
  background: #f6f6f6;
  padding: 2em 1.2em;
}
.restaurants__title {
  margin-bottom: 1em;
}
.restaurants__card {
  margin-bottom: 1.5em;
  border-radius: 20px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
.restaurants__card:hover {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
  transition: opacity 0.3s;
}
.restaurants__card:active {
  transform: translate(0.2em, 0.2em);
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.15);
  transition: transform ease-out;
}
.restaurants__card img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
}
.restaurants__card__new {
  position: absolute;
  top: 20px;
  right: 17px;
  padding: 0.5em 0.6em;
  background-color: #99e2d0;
  color: #139273;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}
.restaurants__card__description {
  padding: 1.1em 1em;
  position: relative;
}
.restaurants__card__description__like {
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: 25px;
}

.footer {
  background: #353535;
  padding: 2em 1.2em;
}
.footer__title h1 {
  color: white;
  font-size: 22px;
}
.footer__list {
  margin: 1.2em 0;
}
.footer__list li {
  margin-bottom: 0.5em;
}
.footer__list li a {
  color: white;
  display: flex;
}
.footer__list li a span {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
