* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.page_wrapper {
  max-width: 1440px;
  margin: auto;
}

.wrapper_color {
  background: #f6f6f6;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: Shrikhand, sans-serif;
  font-size: 27px;
  text-align: center;
}
h1::after {
  content: "";
  display: block;
  height: 4px;
  width: 0%;
  /* background: inherit; */
  transition: width 0.3s ease, background-color 0.3s ease;
  transform-origin: right;
}
h1:hover:after {
  width: 100%;
  background: black;
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 50px;
  }
}
@media screen and (min-width: 699px) and (max-width: 999px) {
  h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 1000px) {
  h3 {
    text-align: center;
    font-size: 25px;
  }
}
@media screen and (min-width: 699px) and (max-width: 999px) {
  h3 {
    text-align: center;
    font-size: 20px;
  }
}

h5 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  color: #353535;
  margin-bottom: 15px;
}
h5::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  margin-top: 5px;
  background: #99E2D0;
}

h6 {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes opaci {
  0% {
    opacity: 1;
    z-index: 10;
  }
  90% {
    opacity: 0.3;
    z-index: 10;
  }
  99% {
    opacity: 0;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes grow {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slide {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(-70px);
  }
}
@keyframes slide-2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3em);
  }
}
@keyframes fade {
  0% {
    fill: transparent;
  }
  100% {
    fill: url("grad1");
  }
}
@keyframes stroke {
  0% {
    stroke-dashoffset: 100%;
    /* pointillets */
    stroke-dasharray: 100%;
    /* ecart entre pointillets */
  }
  100% {
    stroke-dasharray: 0%;
    stroke-dashoffset: 0%;
  }
}
@keyframes anim-heart {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1540;
  }
  60% {
    stroke-dashoffset: 3080;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: url(#grad1);
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3080;
    fill: url(#grad1);
    stroke: url(#grad1);
  }
}
@keyframes ghost {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* .btn{
    @include flex-center; 

    width: 50%;

    padding: 0.5em 1em;

    border-radius: 7em;

    box-shadow: 0px 0px 10px 10px rgba(0 0 0 / 30%);

    opacity: 1;

    cursor: pointer;

    background: linear-gradient($color-2 0%, $color-1 100%);
    color: white;

    position: relative;

    &::after{
        content: '';

        border-radius: 7em;

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background: radial-gradient(circle, lighten($color-1, 2) 0%, darken($color-2, 5) 100%);
        opacity: 0;

        transition: opacity $duration;

        z-index: -1;
    }
    p{
        color: white;
    }

    &:hover{
        opacity: 0.8;
        transform: opacity $duration;
        box-shadow: 0px 0px 10px 10px rgba(0 0 0 / 40%);

        &::after{
            opacity: 1;
        }
    }   
} */
.btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356dc;
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  color: white;
  padding: 0.8em 1em;
  border-radius: 7em;
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.15);
}
.btn-2:hover {
  transform: scale(1.1);
  opacity: 0.8;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
  /* transform: scale(1.1);
  opacity: 0.9;
  box-shadow: 0px 10px 10px 0px rgba(0 0 0 / 20%);

  transition: all $duration ease-out; */
}
.btn-2:active {
  transform: translate(0.2em, 0.2em);
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.15);
  transition: transform ease-out;
  /* transform: translate(0.2em, 0.2em);
  box-shadow: 0px 5px 2px 0px rgba(0 0 0 / 15%);
  transition: transform ease-out; */
}

/* .dish__title__like{
    font-size: 24px;

    padding: 0 1em;

    .fa-heart{
        background: transparent;
        transition: color $duration ease-in;
        transform-origin: bottom;

        cursor: pointer;

        &:active{
            background: linear-gradient(180deg, $color-1 25%, $color-2 100%);
            background: -webkit-linear-gradient(180deg, $color-1 25%, $color-2 100%);
            color: transparent;
            font-weight: bold;
            background-clip: text;
            -webkit-background-clip: text;
        }
    }
} */
.restaurants__card__new:hover {
  transform: scale(1.1);
  opacity: 0.8;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
}
.restaurants__card__new:active {
  transform: translate(0.2em, 0.2em);
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.15);
  transition: transform ease-out;
}
.restaurants__card__description {
  position: relative;
}
.restaurants__card__description svg {
  position: absolute;
  right: 10px;
  width: 30px;
  fill: transparent;
  stroke: black;
  stroke-width: 40px;
  cursor: pointer;
}
.restaurants__card__description svg:hover {
  fill: url(#grad1);
  transform: scale(1.2);
  stroke: url(#grad1);
  transition: all 0.8s ease;
  animation: stroke 0.3s ease;
  /* background: url(#grad1); */
  transform-origin: bottom;
}
.restaurants__card__description__like {
  position: relative;
  right: 10px;
  font-size: 30px;
}
.restaurants__card__description__like .heart {
  position: absolute;
  right: 10px;
  font-size: 30px;
}
.restaurants__card__description__like .heart--grad {
  transform: scale(0.1);
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform-origin: 50% 65%;
  opacity: 0;
}
.restaurants__card__description__like:hover .heart--grad {
  transform: scale(1.2);
  transition: all 0.3s ease-in;
  opacity: 1;
}

body {
  position: relative;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  font-family: Shrikhand, sans-serif;
  font-size: 3rem;
  background-color: #f5edff;
  opacity: 0.8;
  z-index: 1000;
  animation: opaci 3s ease-in forwards;
}
.loader__txt {
  text-align: center;
}
.loader--bars {
  position: absolute;
  top: 65%;
  transform: translateX(-0.8em);
}

/* loader barres */
.loader--bars:before,
.loader--bars:after,
.loader--bars span:before,
.loader--bars span:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 30px;
  background: linear-gradient(#9356DC 0%, #FF79DA 50%, #99E2D0 100%);
  animation: grow 1.2s linear infinite;
}

.loader--bars:after {
  left: 15px;
  animation-delay: -0.25s;
}

.loader--bars span:before {
  left: 30px;
  animation-delay: -0.5s;
}

.loader-bars span:after {
  left: 45px;
  animation-delay: -0.75s;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0 0.5em 0;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
.header__backbtn {
  position: absolute;
  left: 20px;
  top: 25px;
  font-size: 25px;
}
.header__backbtn:hover {
  border: 1px black solid;
  border-radius: 50%;
  padding: 0.2em 0.4em;
  transform: scale(1.1);
  opacity: 0.8;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
  left: 10px;
  top: 15px;
}
.header__backbtn:active {
  transform: translate(0.2em, 0.2em);
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.15);
  transition: transform ease-out;
}
@media screen and (min-width: 1000px) {
  .header {
    height: 150px;
  }
}

.hero {
  background: #f6f6f6;
  padding: 2em 3em 3.5em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title, .hero__subtitle {
  text-align: center;
}
.hero__subtitle {
  font-weight: 200;
  margin: 1em 0 2em 0;
}
.hero__button {
  display: flex;
  justify-content: center;
  width: 80%;
}

.nav {
  padding: 2em 2em;
}
.nav__title {
  margin-bottom: 1em;
}
.nav li {
  position: relative;
  margin-bottom: 1em;
  padding: 1em 1em;
  border-radius: 1em 1em 1em 1em;
  /* box-shadow: 0px 2px 5px 0px rgba(0 0 0 / 15%); */
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
@media screen and (min-width: 1000px) {
  .nav li {
    padding: 1em 3em;
  }
}
@media screen and (min-width: 699px) and (max-width: 999px) {
  .nav li {
    width: 25%;
  }
}
.nav li:hover {
  background: #f9f9f9;
  /* box-shadow: 0px 2px 5px 0px rgba(0 0 0 / 40%); */
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}
.nav li:active {
  transform: translate(0.2em, 0.2em);
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.15);
  transition: transform ease-out;
  background: #f5edff;
}
.nav li:active .nav__icon {
  color: #9356DC;
}
.nav__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
  top: 13px;
  background: #9356DC;
  border-radius: 50%;
  color: white;
  width: 1.5em;
  height: 1.5em;
}
@media screen and (min-width: 699px) and (max-width: 999px) {
  .nav__number {
    top: 35%;
  }
}
.nav__icon {
  color: grey;
  margin-left: 0.7em;
}
@media screen and (min-width: 699px) and (max-width: 999px) {
  .nav__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.nav__txt {
  margin-left: 0.7em;
  font-weight: bold;
}
@media screen and (min-width: 699px) and (max-width: 999px) {
  .nav__txt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.2em;
  }
}
@media screen and (min-width: 1000px) {
  .nav ol {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 699px) and (max-width: 999px) {
  .nav ol {
    display: flex;
    justify-content: space-around;
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5em;
  background: #eaeaea;
}
.location__icon {
  transform: translateX(-20px);
}
@media screen and (min-width: 1000px) {
  .location p {
    font-size: 20px;
  }
}

.restaurants {
  background: #f6f6f6;
  padding: 2em 1.2em;
  position: relative;
}
.restaurants__title {
  margin-bottom: 1em;
}
.restaurants__new {
  z-index: 100;
  position: absolute;
  top: 100px;
  right: 40px;
  padding: 0.5em 0.6em;
  background-color: #99E2D0;
  color: #139273;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}
.restaurants__new:hover {
  transform: scale(1.1);
  opacity: 0.8;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
}
.restaurants__new:active {
  transform: translate(0.2em, 0.2em);
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.15);
  transition: transform ease-out;
}
.restaurants__card {
  margin-bottom: 1.5em;
  border-radius: 20px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  cursor: pointer;
}
.restaurants__card:hover {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
  transition: opacity 0.3s;
}
.restaurants__card:active {
  transform: translate(0.2em, 0.2em);
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.15);
  transition: transform ease-out;
}
.restaurants__card img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
}
.restaurants__card__new {
  position: absolute;
  top: 20px;
  right: 17px;
  padding: 0.5em 0.6em;
  background-color: #99E2D0;
  color: #139273;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}
.restaurants__card__description {
  padding: 1.1em 1em;
  position: relative;
}
.restaurants__card__description__like {
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: 25px;
}

@media screen and (min-width: 1000px) {
  .restaurants__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;
    padding: 0 10rem;
  }
}
@media screen and (min-width: 699px) and (max-width: 999px) {
  .restaurants__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

.dish {
  border-radius: 40px 40px 0 0;
  margin-top: -10px;
  padding: 2em 1em 0 1em;
  background: #f6f6f6;
  transform: translateY(-90px);
}
.dish__img {
  object-fit: cover;
}
.dish__img img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}
@media screen and (min-width: 1000px) {
  .dish__img img {
    height: 430px;
  }
}
@media screen and (min-width: 699px) and (max-width: 999px) {
  .dish__img img {
    height: 400px;
  }
}
.dish__title {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: 1.5em;
}
@media screen and (min-width: 1000px) {
  .dish__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 699px) and (max-width: 999px) {
  .dish__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.dish__title .heart {
  width: 40px;
  fill: black;
  cursor: pointer;
}
@media screen and (min-width: 1000px) {
  .dish__title .heart {
    margin-top: 15px;
  }
}
.dish__title .heart path {
  fill: transparent;
  stroke-width: 25;
  stroke: black;
  stroke-dasharray: 1540;
  stroke-dashoffset: 0;
  /* background: linear-gradient(190deg, rgba(147,86,220,1) 38%, rgba(255,121,218,1) 75%, rgba(255,121,218,1) 100%); */
}
.dish__title .heart path:hover {
  animation: anim-heart 0.8s ease-in-out;
  animation-fill-mode: forwards;
  /* transform: scaleX(1.1); */
  transform: scale(1.1);
  /* proposition de scaling en X plus sympa au visuel */
  transition: all 0.3s ease;
}
.dish__order__box {
  display: grid;
  grid-gap: 15px;
  grid-template-rows: 1fr 1fr 1fr;
  margin-bottom: 50px;
}
@media screen and (min-width: 1000px) {
  .dish__order__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 699px) and (max-width: 999px) {
  .dish__order__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1000px) {
  .dish__order {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap: 50px;
    padding: 0 5rem;
  }
}
@media screen and (min-width: 699px) and (max-width: 999px) {
  .dish__order {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 30px;
  }
}
.dish__button {
  display: flex;
  justify-content: center;
  margin: 3em 0 0em 0;
}
.dish__button .btn {
  padding: 1em 3.5em;
}
@media screen and (min-width: 1000px) {
  .dish {
    max-width: 90%;
    margin: auto;
  }
}

.items {
  background: white;
  padding: 1.1em 1em;
  border-radius: 1em;
  height: 80px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  animation: ghost 0.8s backwards;
}
.items:hover .items__check {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: right;
  animation: slide 0.3s ease;
}
.items:hover .price {
  padding-right: 70px;
  transition: 0.3s ease;
}
.items:active {
  transform: translate(0.2em, 0.2em);
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.15);
  transition: transform ease-out;
}
.items__food-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.items__food-price .food {
  white-space: nowrap;
  overflow: hidden;
}
.items__food-price .food p {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}
.items__food-price .price {
  font-weight: bold;
  padding: 0 0.8em;
}
.items__check {
  position: absolute;
  right: 0;
  /* display: flex;
  align-items: center; */
  display: none;
  height: 100%;
  padding: 0 1em;
  background: #99E2D0;
}
.items__check i {
  color: white;
  font-size: 30px;
  transform: rotate(180deg);
  animation: rotate 0.3s both;
}
.items--1 {
  animation-delay: 0.3s;
}
.items--2 {
  animation-delay: 0.6s;
}
.items--3 {
  animation-delay: 0.9s;
}
.items--4 {
  animation-delay: 1.2s;
}

.footer {
  background: #353535;
  padding: 2em 1.2em;
}
.footer__title {
  width: 130px;
}
.footer__title h1 {
  color: white;
  font-size: 22px;
}
.footer__title h1::after {
  background: white;
}
.footer__list {
  margin: 1.2em 0;
  width: 100%;
}
.footer__list ul li {
  margin-bottom: 0.5em;
  /* &:hover{
      @include btn-hover;
  } */
}
.footer__list ul li a {
  color: white;
  display: flex;
}
.footer__list ul li a span {
  margin-right: 10px;
}
.footer__list ul li::after {
  content: "";
  display: block;
  margin-top: 5px;
  height: 4px;
  width: 0%;
  /* background: inherit; */
  transition: width 0.3s ease, background-color 0.3s ease;
  transform-origin: right;
}
.footer__list ul li:hover:after {
  width: 100%;
  background: white;
}
@media screen and (min-width: 1000px) {
  .footer__list ul {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 699px) and (max-width: 999px) {
  .footer__list ul {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1000px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 699px) and (max-width: 999px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
