//Dish Page

.dish{
    border-radius: 40px 40px 0 0;

    margin-top: -10px;
    padding: 2em 1em 0 1em;

    background: $color-4;

    transform: translateY(-90px);

    &__img{

        
        -o-object-fit: cover;

        
           object-fit: cover;
    
        img{
            -o-object-fit: cover;
               object-fit: cover;
    
            width: 100%;
            height: 350px;

            @include desktop{
                height: 430px;
            }
            @include tablette{
                height: 400px;
            }
        }
    }

    &__title{
        display: flex;
        justify-content: space-around;

        position: relative;

        margin-bottom: 1.5em;

        @include desktop{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @include tablette{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .heart{
            width: 40px;
            fill: black;

            cursor: pointer;

            @include desktop{
                margin-top: 15px;
            }

            path{
                fill: transparent;
                stroke-width: 25;
                stroke: black;

                stroke-dasharray: 1540;
                stroke-dashoffset: 0;

                /* background: linear-gradient(190deg, rgba(147,86,220,1) 38%, rgba(255,121,218,1) 75%, rgba(255,121,218,1) 100%); */


                &:hover{
                    -webkit-animation: anim-heart $duration2 ease-in-out;
                            animation: anim-heart $duration2 ease-in-out;
                    -webkit-animation-fill-mode: forwards;
                            animation-fill-mode: forwards;
                    /* transform: scaleX(1.1); */
                    transform: scale(1.1); /* proposition de scaling en X plus sympa au visuel */
                    transition: all $duration ease;
                }
            }
        }
    }

    &__order{

        &__box{
            display: grid;
            grid-gap: 15px;
            grid-template-rows: 1fr 1fr 1fr;

            margin-bottom: 50px;
        }

        &__title{
            @include desktop{
                @include flex-center;
            }
            @include tablette{
                @include flex-center;
            }
        }

        @include desktop{
        display: grid;
        grid-template-columns: 2fr 4fr;
        grid-gap: 50px;

        padding: 0 5rem;
    }

        @include tablette{
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-gap: 30px;
        }
    }
 
    &__button{
        display: flex;
        justify-content: center;

        margin: 3em 0 0em 0;
        
        .btn{
            padding: 1em 3.5em;
        }
    }

    @include desktop{
        max-width: 90%;
        margin: auto;
    }
}

.items{
    background: white;

    padding: 1.1em 1em;

    border-radius: 1em;

    height: 80px;
    
    @include box-shadow-1;

    overflow: hidden;

    position: relative;

    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    -webkit-animation: ghost $duration2 backwards;

            animation: ghost $duration2 backwards;

    &:hover &__check{
        @include flex-center;
        transform-origin: right;
        -webkit-animation: slide $duration ease;
                animation: slide $duration ease;
    }
    &:hover .price{
        padding-right: 70px;
        transition: $duration ease;
    }
    &:active{
        @include btn-active;
    }

    &__food-price{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        width: 100%;

        .food{
            white-space: nowrap;
            overflow: hidden;
            p{
                margin-top: 5px;
        
                font-size: 15px;
        
                font-weight: 300;

                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .price{
            font-weight: bold;
            padding: 0 0.8em;
        }
    }

    &__check{
        position: absolute;
        right: 0;

        /* display: flex;
        align-items: center; */

        display: none;

        height: 100%;

        padding: 0 1em;

        background: $color-3;

        i{
            color: white;
            font-size: 30px;

            transform: rotate(180deg);
            -webkit-animation: rotate $duration both;
                    animation: rotate $duration both;
        }
    }

    @for $n from 1 through 4 {
        &--#{$n} {
            -webkit-animation-delay: $duration * $n;
                    animation-delay: $duration * $n;
        }
    }
}