//footer

.footer{
    background: #353535;

    padding: 2em 1.2em;

    &__title{
        h1{
            color: white;
            font-size: 22px;
        }
    }
    &__list{
        margin: 1.2em 0;

        li{
            margin-bottom: 0.5em;
            a{
                color: white;

                display: flex;

                span{
                    margin-right: 10px;
                }
            }
        }
    }
}