//header home

.header{
    @include flex-center;

    padding: 1em 0 .5em 0;

    @include box-shadow-1;

    position: relative;

    //header Dish
    &__backbtn{
        position: absolute;
        left: 20px;
        top: 25px;

        font-size: 25px;

        &:hover{
            @include border;
            border-radius: 50%;
            padding: 0.2em 0.4em;

            @include btn-hover;

            left: 10px;
            top: 15px;
        }
        &:active{
            @include btn-active;
        }
    }

    @include desktop{
        height: 150px;
    }
}


