//Home Page

//main content
//location

.location{
    @include flex-center;

    height: 4em;

    background: #eaeaea;

    /* background: rgba(187,184,184,0.59);
    background: linear-gradient(180deg,rgba(187,184,184,0.59) 0%, transparent 100%); */
}

//hero

.hero{
    background: $color-4;

    padding: 2em 3em;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__title,
    &__subtitle{
        text-align: center;
    }

    &__subtitle{
        font-weight: 200;

        margin: 1em 0 1em 0;
    }

    &__button{
        display: flex;
        justify-content: center;

        width: 80%;
    }
}

//nav

.nav{
    @include padding;

    &__title{
        margin-bottom: 1em;
    }
    li{
        position: relative;

        margin-bottom: 1em;
        padding: 1em 1em;
        
        border-radius: 1em 1em 1em 1em;
        /* box-shadow: 0px 2px 5px 0px rgba(0 0 0 / 15%); */
        @include box-shadow-1;

        cursor: pointer;

        &:hover{
            background: lighten($color-4, 1%);
            /* box-shadow: 0px 2px 5px 0px rgba(0 0 0 / 40%); */
            @include box-shadow-2;
        }
        &:active{
            @include btn-active;
            background: $color-1-clr;
            .nav__icon{
                color: $color-1;
            }
        }
        &:visited{
            background: $color-1-clr;
        }
    }
    &__number{
        @include flex-center;

        position: absolute;
        left: -10px;
        top: 11px;

        background: $color-1;
        border-radius: 50%;
        color: white;

        width: 1.5em;
        height: 1.5em;
    }
    &__icon{
        color: grey;
        margin-left: 0.7em;
    }
    &__txt{
        margin-left: 0.7em;

        font-weight: bold;
    }
}

//restaurants

.restaurants{
    background: $color-4;

    padding: 2em 1.2em;

    &__title{
        margin-bottom: 1em;
    }

    &__card{
        margin-bottom: 1.5em;

        border-radius: 20px;

        @include box-shadow-1;

        position: relative;

        &:hover{
            @include box-shadow-2;
            opacity: 0.8;
            transition: opacity $duration;
        }
        &:active{
            @include btn-active;
        }

        img{
            object-fit: cover;

            width: 100%;
            height: 150px;

            border-radius: 20px 20px 0 0;
        }
        &__new{
            position: absolute;
            top: 20px;
            right: 17px;

            padding: 0.5em 0.6em;

            background-color: #99e2d0;
            color: #139273;
            font-weight: bold;

            border-radius: 3px;

            cursor: pointer;
        }
        &__description{
            padding: 1.1em 1em;

            position: relative;

            &__like{
                position: absolute;
                right: 10px;
                top: 20px;

                font-size: 25px;
            }
        }
    }
}

//Dish Page

.dish{
    /* position: absolute; */
    border-radius: 20px 20px 0 0;

    margin-top: -10px;
    @include padding;

    background: $color-4;

    &__img{
        /* position: relative; */
    
        img{
            object-fit: cover;
    
            width: 100%;
            height: 230px;
        }
    }

    &__title{
        @include flex-center;

        position: relative;

        margin-bottom: 1.5em;

    }

    &__order{
        /* display: grid;
        grid-gap: 40px; */

        &__box{
            display: grid;
            grid-gap: 15px;
            grid-template-rows: 1fr 1fr 1fr;
        }
    }
 
    &__button{
        display: flex;
        justify-content: center;

        margin: 3em 0 1em 0;
        
        .btn{
            padding: 1em 3.5em;
        }
    }
}

.items{
    background: white;

    padding: 1.1em 1em;

    border-radius: 1em;

    height: 80px;
    
    @include box-shadow-1;

    overflow: hidden;

    position: relative;

    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    &:hover &__check{
        @include flex-center;
        transform-origin: right;
        animation: slide 3s ease;
    }
    &:hover .price{
        padding-right: 70px;
        transition: $duration ease;
    }
    &:active{
        @include btn-active;
    }

    &__food-price{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        width: 100%;

        .food{
            white-space: nowrap;
            overflow: hidden;
            p{
                margin-top: 5px;
        
                font-size: 15px;
        
                font-weight: 300;

                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .price{
            font-weight: bold;
            padding: 0 0.8em;
        }
    }

    &__check{
        position: absolute;
        right: 0;

        /* display: flex;
        align-items: center; */

        display: none;

        height: 100%;

        padding: 0 1em;

        background: $color-3;

        i{
            color: white;
            font-size: 30px;

            transform: rotate(180deg);
            animation: rotate $duration both;
        }
    }
}