//buttons

//btn-1
/* .btn{
    @include flex-center; 

    width: 50%;

    padding: 0.5em 1em;

    border-radius: 7em;

    box-shadow: 0px 0px 10px 10px rgba(0 0 0 / 30%);

    opacity: 1;

    cursor: pointer;

    background: linear-gradient($color-2 0%, $color-1 100%);
    color: white;

    position: relative;

    &::after{
        content: '';

        border-radius: 7em;

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background: radial-gradient(circle, lighten($color-1, 2) 0%, darken($color-2, 5) 100%);
        opacity: 0;

        transition: opacity $duration;

        z-index: -1;
    }
    p{
        color: white;
    }

    &:hover{
        opacity: 0.8;
        transform: opacity $duration;
        box-shadow: 0px 0px 10px 10px rgba(0 0 0 / 40%);

        &::after{
            opacity: 1;
        }
    }   
} */

// btn-2

.btn-2{
    @include btn;

    &:hover{
        @include btn-hover;
    /* transform: scale(1.1);
    opacity: 0.9;
    box-shadow: 0px 10px 10px 0px rgba(0 0 0 / 20%);

    transition: all $duration ease-out; */
    }

    &:active{
        @include btn-active;
        /* transform: translate(0.2em, 0.2em);
        box-shadow: 0px 5px 2px 0px rgba(0 0 0 / 15%);
        transition: transform ease-out; */
    }
}

//heart

/* .dish__title__like{
    font-size: 24px;

    padding: 0 1em;

    .fa-heart{
        background: transparent;
        transition: color $duration ease-in;
        transform-origin: bottom;

        cursor: pointer;

        &:active{
            background: linear-gradient(180deg, $color-1 25%, $color-2 100%);
            background: -webkit-linear-gradient(180deg, $color-1 25%, $color-2 100%);
            color: transparent;
            font-weight: bold;
            background-clip: text;
            -webkit-background-clip: text;
        }
    }
} */


// heart in dish card
.restaurants__card{

    &__new{

        &:hover{
            @include btn-hover;
        }
        &:active{
            @include btn-active;
        }
    }

    &__description{
        position: relative;

        svg{
            position: absolute;
            right: 10px;

            width: 30px;

            fill: transparent;
            stroke: black;
            stroke-width: 40px;

            cursor: pointer;
        
            &:hover{
                fill: url(#grad1);
                transform: scale(1.2);
                stroke: url(#grad1);
                transition: all .8s ease;
                animation: stroke $duration ease;

                /* background: url(#grad1); */
                transform-origin: bottom;
            }
        }

        &__like{
            position: relative;
            right: 10px;

            font-size: 30px;

            .heart{
                position: absolute;
                right: 10px;

                font-size: 30px;

                &--grad{
                    transform: scale(0.1);
                    background: -webkit-gradient(linear, left top, left bottom, from($color-1), to($color-2));	                
                    -webkit-background-clip: text;
	                -webkit-text-fill-color: transparent;
                    transform-origin: 50% 65%;
                    opacity: 0;
                }    
            }
            &:hover{
                .heart--grad{
                    transform: scale(1.2);
                    transition: all $duration ease-in;
                    opacity: 1;
                }
            }
        }
    }
}
