//all @keyframes

//page wrapper 
@keyframes opaci {
    0% {
		opacity: 1;
		z-index: 10;
	}
	99% {
		opacity: 0;
		z-index: 10;
	}
	100% {
		opacity: 0;
		z-index: -10;
	}
}

//anim loader
@keyframes grow {
    0%{
        transform: scaleY(0);
        opacity: 0;
    }
    50%{
        transform: scaleY(1);
        opacity: 1
    }
    100%{
        transform: scaleY(0);
        opacity: 0;
    }
}

//anim btn
@keyframes pulse {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

//anim dish check

@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes slide {
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(-70px);
    }
}

@keyframes slide-2 {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-3em);
    }
}

//heart
@keyframes fade {
    0%{
        fill: transparent;
    }
    100%{
        fill: url("grad1");
    }
}
@keyframes stroke {
    0%{
        stroke-dashoffset: 100%; /* pointillets */
        stroke-dasharray: 100%; /* ecart entre pointillets */
    }
    100%{
        stroke-dasharray: 0%;
        stroke-dashoffset: 0%;
    }
}

@keyframes anim-heart {
    0%{
       stroke-dashoffset: 0;
    }
    40%{
       stroke-dashoffset: 1540;
       
    }
    60%{
       stroke-dashoffset: 3080;
       fill: transparent;
       transform: scale(1);
    }
    80%{
        fill: url(#grad1);
        transform: scale(1.1);
     }
     90%{
         transform: scale(1);
     }
    100%{
       stroke-dashoffset: 3080;
       fill: url(#grad1);
       stroke: url(#grad1);
    }
}

//anim-grid dish

@keyframes ghost {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}