//all @keyframes

//anim loader
@keyframes grow {
    0%{
        transform: scaleY(0);
        opacity: 0;
    }
    50%{
        transform: scaleY(1);
        opacity: 1
    }
    100%{
        transform: scaleY(0);
        opacity: 0;
    }
}


//anim btn
@keyframes pulse {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}