* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}
.page_wrapper{

    max-width: 1440px;
    margin: auto;
}
.wrapper_color{
    background: $color-4;
}
