//mixins

@mixin border {
    border: 1px black solid;
}
@mixin box-shadow-1 {
    box-shadow: 0px 2px 5px 0px rgba(0 0 0 / 15%);
}
@mixin box-shadow-2 {
    box-shadow: 0px 2px 5px 0px rgba(0 0 0 / 40%);
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin btn {
    @include flex-center;
    background: #9356dc;
    background: linear-gradient(355deg,#9356dc 0%, #ff79da 100%);
    color: white;
    padding: .8em 1em;
    border-radius: 7em;
    box-shadow: 0px 5px 2px 0px rgba(0 0 0 / 15%);
}
@mixin btn-hover {
    transform: scale(1.1);
    opacity: 0.8;
    box-shadow: 0px 10px 10px 0px rgba(0 0 0 / 20%);

    transition: all $duration ease-out;
}
@mixin btn-active {
    transform: translate(0.2em, 0.2em);
    box-shadow: 0px 5px 2px 0px rgba(0 0 0 / 15%);
    transition: transform ease-out;
}

@mixin dash ($array, $offset, $width) {
    stroke-dasharray: $array;
    stroke-dashoffset: $offset;
    stroke-width: $width;
}
@mixin padding {
    padding: 2em 1em;
}