//Variables P3 OC OMF

$color-1: #9356DC;
$color-2: #FF79DA;
$color-3: #99E2D0;
$color-4: #f6f6f6;
$color-5: #353535;

$color-1-clr:#f5edff;

$duration: 0.3s;
$duration2: 0.8s;

$font1: Shrikhand;
$font2: Roboto;